<div th:fragment="menu">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/protegido">Protegido Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/protegido/protegido2">Protegido 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/restringido">Restringido Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/restringido/restringido2">Restringido 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/liberado">Liberado Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/liberado/liberado2">Liberado 2</a>
        </li>
    </ul>
</div>