<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>403 Prohibido</title>
    <style>
        .error-code {
            font-size: 10rem;
            font-weight: bold;
        }
    </style>
    <!--Link de BootStrap-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100 text-center">

<div class="container">
    <div class="error-code text-danger">403</div>
    <h1 class="text-danger fw-semibold">Acceso Prohibido</h1>
    <p class="fs-4">No tienes permiso para acceder a esta página.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
<!--Link de BootStrap-->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
